.modal {

    color: var(--color1);


    background-color: var(--bg1);
    padding: 2rem 5rem;

    h4 {
        font-size: 2rem;
        margin: 0;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    >button {
        position: absolute;
        top: 0;
        right: 0;
    } 
}